// signout button container style
.signout-container {
  // signout button  style
  button {
    background: #760876;
    border: 2px solid #760876;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    min-width: 95px;
    height: 40px;
  }
}
